.nav_menu {
	color: #ffffff;
    background-color: #f8f9fa;
	padding: 0 600px;
}
.nav_el, .nav_link { 
text-decoration-style: none;
display: inline-block;
margin: 5px 20px;
color: #0062cc;
font-size: 20px;
font-weight: bold;
text-decoration-line: none;
 }

 .nav_link:active {
 	color: white
 }

 .nav_link:hover {
 	text-decoration-line: none;
 	color: white
 }